body {
    margin: 0;
    background-color: #ffaa80;
}

/* A - Typographie*/
@font-face {
    font-family: "manifont";
    src: url("fonts/ManifontGroteskBook-webfont.woff") format("woff"), url("fonts/ManifontGroteskBook.otf") format("otf");
}

h1 {
    font-family: manifont, arial;
    font-weight: normal;
    font-size: 200%;
    color: #ffffcc;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    font-family: manifont, arial;
    font-weight: normal;
    font-size: 150%;
    color: #ffffcc;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
}

/* B - Bloc d'informations*/
.titre {
    position: fixed;
    top: 22px;
    left: 20px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ffaa80;
    overflow-x: hidden;
    transition: 0s;
    padding-top: 60px;
    font-family: manifont, arial;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    text-indent: 10px;
}

.sidebar a {
    /*padding: 8px 8px 8px 32px;*/
    padding: 10px 100px 10px 100px;
    text-decoration: none;
    font-family: manifont, arial;
    font-size: 20px;
    line-height: 1.4em;
    color: #ffffcc;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #ffffcc;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 20px;
    margin-right: -10px;
}

.openbtn {
    float: right;
    font-family: manifont, arial;
    font-weight: normal;
    font-size: 250%;
    cursor: pointer;
    background-color: #ffaa80;
    color: #ffffcc;
    position: fixed;
    top: 18px;
    right: 13px;
    border: none;
}

.openbtn:hover {
    background-color: #ffaa80;
}

.main {
    transition: margin-right .5s;
    padding: 16px;
}

/*fin bouton*/
.projectTitle {
    position: fixed;
    bottom: 30px;
    left: 20px;
    margin-right: 100px
}

.projectAuthor {
    position: fixed;
    bottom: 30px;
    right: 20px;
}

/* C - Figure centrale */
.figureCentrale {
    width: 1000px;
    filter: drop-shadow(0 0px 5px #ffffcc);
    /* "filter" : effet "lumière néon" autour de la forme principale. Modifier les paramètre ou le supprimer*/
}

.hexaproj {
    fill: #ffaa80;
    stroke: #ffffcc;
    stroke-miterlimit: 10;
    stroke-width: 4px;
}

.hexaproj:hover {
    fill: rgba(255, 255, 204);
    stroke: rgba(255, 255, 204);
}

.center

/* centrage la forme principale */
    {
    position: absolute;
    left: 51%;
    top: 57%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 71%;
}

/* C - Figure centrale mobile

    Padding-top en marging-top
    Figure centrale mobile englobe toutes les divs

    */
.figureCentraleMobile {
 
    padding-left: 20px;
    padding-right: 300px;
    display: none;
}

.bloc_lien {
    font-family: manifont, arial;
    font-weight: normal;
    font-size: 30px;
    color: #ffffcc;
    line-height: 1.3;
    text-decoration: none;
    text-align: left;
    padding-bottom: 50px;
}

.bloc_lien a {
    font-family: manifont, arial;
    font-weight: normal;
    font-size: 30px;
    color: #ffffcc;
    line-height: 1.3;
    text-decoration: none;
    text-align: left;
    padding-bottom: 50px;
}

/* D - Responsive design (design mobile/tablette).
    Exemple ci dessous : si l'écran fais moins de 600px de large, la couleur en arrière-plan devient rouge */
/*
    @media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) {
      body {
        background-color: gold;
      }
     #figureCentrale {width: 80%;}

    }
*/
/* D - Responsive design GOOD

    Figure en svg : si c'est pas lu sur Ipad ce sera compliqué à régler. Mais si c'est un problème de marge : plus simple. Peut ne pas comprendre les proportiions des marges et forme est en dessous. Essayer d'enlever le code qui permet de centrer posistion centrale et lui donner une position absolute. Ce week-end Nicolas peut résoudre le problème ;


    */
/* SAFARI VERSION */
body.safari .figureCentrale {
    display: none;
}

body.safari .figureCentraleMobile {
    display: block;
       padding-top: 100px;


}

body.safari .bloc_lien {
    font-family: manifont, arial;
    font-weight: normal;
    font-size: 20px;
    color: #ffffcc;
    line-height: 1.2;
    text-decoration: none;
    text-align: left;
    padding-bottom: 50px;
}

body.safari .bloc_lien a {
    font-family: manifont, arial;
    font-weight: normal;
    font-size: 20px;
    color: #ffffcc;
    line-height: 1.2;
    text-decoration: none;
    text-align: left;
    padding-bottom: 50px;
}

body.safari .titre {
    font-size: 100%;
}

body.safari .openbtn {
    font-size: 300%;
}

body.safari .openbtn {
    right: 20px;
    top: 3px;
}

body.safari .sidebar a {
    font-size: 130%;
    padding-top: 100px;
    padding-bottom: 100px;
}

body.safari .sidebar .closebtn {
    font-size: 160%;
    top: -100px;
}

/* MOBILE VERSION */
@media only screen and (max-width: 720px) {
    body .figureCentrale {
        display: none;
    }

    .figureCentraleMobile {
        display: block;
           padding-top: 200px;

    }

    body .titre {
        font-size: 150%;
    }

    body .openbtn {
        font-size: 500%;
    }

    body .openbtn {
        right: -60px;
    }

    body .sidebar a {
        font-size: 200%;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    body .sidebar .closebtn {
        font-size: 300%;
        top: -100px;
    }
}